//colorAppli

$colormain : #E2801B;
$colormain2 : #FFFEDC;
$colorsecondaire : #1E3D59;
$colorinput : #f1f1f1;


//police d'ecriture de l'appli

@import url('http://fonts.cdnfonts.com/css/montserrat');

