*{
    border: solid ;
}

.container{
    background-color: #fffedc;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.HeaderBtnDeconnexion{
    padding: 10px;
    width: 100%;
    margin-top: 50px; //réglage de la hauteur du bouton de deconnexion
}

.Logout{
    height: 60px;
    width: 60px;
}

.input {
    padding: 5px;
    padding-left: 10px;
    border: 2px #004E78 solid;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    background: white;
}
.btnOrange {
    border-radius: 15px;
}

