*{
    font-family: 'Montserrat-Regular';
}

.button {
    color: whitesmoke;
}

.inputMain {
    padding: 5px;
    border: 0;
    border-bottom-width: 2px;
    margin: 15px;
    border-color: #1E3D59;
    color: #1E3D59;
    font-family: 'Montserrat-Regular';
}

.logoContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: beige;
  }

.tinyLogo {
    width: 50px;
    height: 50px;
}